body{
    margin: 40px 100px 20px 100px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#header{
    background-color: #101820FF;
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 1100px;
    height: auto;
}
li{
    display: inline;
    float: right;
}
ul li a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #101820FF;
}
ul li a:hover{
    background-color: #F2AA4CFF;
}
#name{
    font-size: large;
}
#main{
    height: 600px;
    border-radius: 25px;
    padding: 20px;
    margin: 25px;
}
#article{
    width: 70%;
    height: 100%;
    float: left;
    background-color: #F2AA4CFF;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
#aside{
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    position: inherit;
}
#logo{
    width: 160px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#footer{
    margin: 50px;
    border-radius: 25px;
    padding: 10px;
    background-color: #F2AA4CFF;
}
#adds{
    border-radius: 25px;
    padding: 10px;
    background-color: black;
    height: auto;
}